# SPDX-FileCopyrightText: 2024, Rylie Pavlik
# SPDX-License-Identifier: CC0-1.0

Rylie Pavlik <rylie@ryliepavlik.com>
Rylie Pavlik <rylie@ryliepavlik.com> <rpavlik@iastate.edu>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan.pavlik@gmail.com>

